<% if @all_filters.nil? %>
    <span class="tag <%= tag_css_class tag %>"><a href="<%= contacts_tagged_path(tag.name.to_a) %>"><%= tag.name %></a></span>
<% else %>
    <span class="tag <%= tag_css_class tag %>"><a href="<%= contacts_tagged_path(@all_filters.map(&:name) + tag.name.to_a) %>"><%= tag.name %></a></span>
<% end %>
