<% unless @contacts.empty? %>
    <% @contacts.each do |contact| %>  
	<div class="contact">
			<div class="avatar_subject">
				<%= link_to avatar_to(contact, :size => "32"), {:controller => 'contacts', :action => 'show', :id => contact.id} %>
				<div class="info">
					<%= link_to pretty_name(contact), :controller => 'contacts', :action => 'show', :id => contact.id %>
					<%= link_to contact.website, contact.website, :only_path => true unless !contact.is_company %>
					<%= mail_to contact.emails.first unless contact.is_company || !contact.email %>
					<div><%= contact.phones.first %></div>
				</div>
			</div>
			<div class="title_and_company" >
				<%= contact.job_title %>
				<% if !contact.is_company %>
					<%= " #{l(:label_at_company)} " unless (contact.job_title.blank? or contact.company.blank?) %> 
					<%= contact.company %> 
				<% end %>
			</div>
			<div class="tags">
					<%= render :partial => "tags_item", :collection => contact.tags, :locals => {:is_note => false}  %>
			</div>
	</div>
    <% end %>      
  <%= link_to l(:label_previous), { :page => @contacts_pages.current.previous } if @contacts_pages.current.previous %> <%= contacts_paginator @contacts_pages %> <%= link_to l(:label_next), { :page => @contacts_pages.current.next } if @contacts_pages.current.next %>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>
