<% if @all_filters.size > 1 %>
    <span class="tag <%= tag_css_class tag %>"><a href="<%= contacts_tagged_path(@all_filters.map(&:name) - tag.name.to_a) %>"><%= tag.name %><span class="tag_remove">x</span></a></span>	
<% else %>
	<span class="tag <%= tag_css_class tag %>"><a href="<%= contacts_path %>"><%= tag.name %><span class="tag_remove">x</span></a></span>
<% end %>